In [2]:
import pandas as pd

file_path = '../data/Cuernavaca_To_1dia_comas.csv'
cuerna = pd.read_csv(file_path, index_col=0, parse_dates=True)
cuerna

                       To
tiempo
2012-01-01 00:00:00  19.3
2012-01-01 01:00:00  18.6
2012-01-01 02:00:00  17.9
2012-01-01 03:00:00  17.3
2012-01-01 04:00:00  16.6
2012-01-01 05:00:00  15.9
2012-01-01 06:00:00  17.0
2012-01-01 07:00:00  18.0
2012-01-01 08:00:00  19.0
2012-01-01 09:00:00  20.0
2012-01-01 10:00:00  20.0
2012-01-01 11:00:00  20.0
2012-01-01 12:00:00  21.0
2012-01-01 13:00:00  22.0
2012-01-01 14:00:00  21.7
2012-01-01 15:00:00  21.3
2012-01-01 16:00:00  21.0
2012-01-01 17:00:00  19.0
2012-01-01 18:00:00  17.1
2012-01-01 19:00:00  17.0
2012-01-01 20:00:00  17.3
2012-01-01 21:00:00  17.0
2012-01-01 22:00:00  16.6
2012-01-01 23:00:00  15.9

In [3]:
cuerna.index

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               '2012-01-01 10:00:00', '2012-01-01 11:00:00',
               '2012-01-01 12:00:00', '2012-01-01 13:00:00',
               '2012-01-01 14:00:00', '2012-01-01 15:00:00',
               '2012-01-01 16:00:00', '2012-01-01 17:00:00',
               '2012-01-01 18:00:00', '2012-01-01 19:00:00',
               '2012-01-01 20:00:00', '2012-01-01 21:00:00',
               '2012-01-01 22:00:00', '2012-01-01 23:00:00'],
              dtype='datetime64[ns]', name='tiempo', freq=None)