In [4]:
import pandas as pd

In [5]:
file_path = "../data/Cuernavaca_1dia_comas.csv"
df = pd.read_csv(
    file_path,
    index_col=0,
    parse_dates=True
)

df.head()

                       To   Ws  Wd      P  Ig  Ib  Id
tiempo
2012-01-01 00:00:00  19.3  0.0  26  87415   0   0   0
2012-01-01 01:00:00  18.6  0.0  26  87602   0   0   0
2012-01-01 02:00:00  17.9  0.0  30  87788   0   0   0
2012-01-01 03:00:00  17.3  0.0  30  87554   0   0   0
2012-01-01 04:00:00  16.6  0.0  27  87321   0   0   0

In [6]:
df.index

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               '2012-01-01 10:00:00', '2012-01-01 11:00:00',
               '2012-01-01 12:00:00', '2012-01-01 13:00:00',
               '2012-01-01 14:00:00', '2012-01-01 15:00:00',
               '2012-01-01 16:00:00', '2012-01-01 17:00:00',
               '2012-01-01 18:00:00', '2012-01-01 19:00:00',
               '2012-01-01 20:00:00', '2012-01-01 21:00:00',
               '2012-01-01 22:00:00', '2012-01-01 23:00:00'],
              dtype='datetime64[ns]', name='tiempo', freq=None)

In [7]:
df.To.mean()

np.float64(18.604166666666668)

In [8]:
df[['To', 'Ws']].mean()

To    18.604167
Ws     0.475000
dtype: float64

In [9]:
df.To - df.Ws

tiempo
2012-01-01 00:00:00    19.3
2012-01-01 01:00:00    18.6
2012-01-01 02:00:00    17.9
2012-01-01 03:00:00    17.3
2012-01-01 04:00:00    16.6
2012-01-01 05:00:00    15.9
2012-01-01 06:00:00    17.0
2012-01-01 07:00:00    18.0
2012-01-01 08:00:00    19.0
2012-01-01 09:00:00    20.0
2012-01-01 10:00:00    19.0
2012-01-01 11:00:00    17.9
2012-01-01 12:00:00    19.2
2012-01-01 13:00:00    20.5
2012-01-01 14:00:00    20.4
2012-01-01 15:00:00    20.1
2012-01-01 16:00:00    20.0
2012-01-01 17:00:00    19.0
2012-01-01 18:00:00    17.1
2012-01-01 19:00:00    17.0
2012-01-01 20:00:00    17.3
2012-01-01 21:00:00    16.8
2012-01-01 22:00:00    16.1
2012-01-01 23:00:00    15.1
dtype: float64

In [10]:
df.To - df.To.mean()

tiempo
2012-01-01 00:00:00    0.695833
2012-01-01 01:00:00   -0.004167
2012-01-01 02:00:00   -0.704167
2012-01-01 03:00:00   -1.304167
2012-01-01 04:00:00   -2.004167
2012-01-01 05:00:00   -2.704167
2012-01-01 06:00:00   -1.604167
2012-01-01 07:00:00   -0.604167
2012-01-01 08:00:00    0.395833
2012-01-01 09:00:00    1.395833
2012-01-01 10:00:00    1.395833
2012-01-01 11:00:00    1.395833
2012-01-01 12:00:00    2.395833
2012-01-01 13:00:00    3.395833
2012-01-01 14:00:00    3.095833
2012-01-01 15:00:00    2.695833
2012-01-01 16:00:00    2.395833
2012-01-01 17:00:00    0.395833
2012-01-01 18:00:00   -1.504167
2012-01-01 19:00:00   -1.604167
2012-01-01 20:00:00   -1.304167
2012-01-01 21:00:00   -1.604167
2012-01-01 22:00:00   -2.004167
2012-01-01 23:00:00   -2.704167
Name: To, dtype: float64

In [11]:
df.To**2

tiempo
2012-01-01 00:00:00    372.49
2012-01-01 01:00:00    345.96
2012-01-01 02:00:00    320.41
2012-01-01 03:00:00    299.29
2012-01-01 04:00:00    275.56
2012-01-01 05:00:00    252.81
2012-01-01 06:00:00    289.00
2012-01-01 07:00:00    324.00
2012-01-01 08:00:00    361.00
2012-01-01 09:00:00    400.00
2012-01-01 10:00:00    400.00
2012-01-01 11:00:00    400.00
2012-01-01 12:00:00    441.00
2012-01-01 13:00:00    484.00
2012-01-01 14:00:00    470.89
2012-01-01 15:00:00    453.69
2012-01-01 16:00:00    441.00
2012-01-01 17:00:00    361.00
2012-01-01 18:00:00    292.41
2012-01-01 19:00:00    289.00
2012-01-01 20:00:00    299.29
2012-01-01 21:00:00    289.00
2012-01-01 22:00:00    275.56
2012-01-01 23:00:00    252.81
Name: To, dtype: float64

In [12]:
(df.To - df.To.mean()).abs()

tiempo
2012-01-01 00:00:00    0.695833
2012-01-01 01:00:00    0.004167
2012-01-01 02:00:00    0.704167
2012-01-01 03:00:00    1.304167
2012-01-01 04:00:00    2.004167
2012-01-01 05:00:00    2.704167
2012-01-01 06:00:00    1.604167
2012-01-01 07:00:00    0.604167
2012-01-01 08:00:00    0.395833
2012-01-01 09:00:00    1.395833
2012-01-01 10:00:00    1.395833
2012-01-01 11:00:00    1.395833
2012-01-01 12:00:00    2.395833
2012-01-01 13:00:00    3.395833
2012-01-01 14:00:00    3.095833
2012-01-01 15:00:00    2.695833
2012-01-01 16:00:00    2.395833
2012-01-01 17:00:00    0.395833
2012-01-01 18:00:00    1.504167
2012-01-01 19:00:00    1.604167
2012-01-01 20:00:00    1.304167
2012-01-01 21:00:00    1.604167
2012-01-01 22:00:00    2.004167
2012-01-01 23:00:00    2.704167
Name: To, dtype: float64

In [13]:
df['To_avg'] = df.To.mean()

In [14]:
df

                       To   Ws   Wd      P   Ig   Ib  Id     To_avg
tiempo
2012-01-01 00:00:00  19.3  0.0   26  87415    0    0   0  18.604167
2012-01-01 01:00:00  18.6  0.0   26  87602    0    0   0  18.604167
2012-01-01 02:00:00  17.9  0.0   30  87788    0    0   0  18.604167
2012-01-01 03:00:00  17.3  0.0   30  87554    0    0   0  18.604167
2012-01-01 04:00:00  16.6  0.0   27  87321    0    0   0  18.604167
2012-01-01 05:00:00  15.9  0.0   26  87087    0    0   0  18.604167
2012-01-01 06:00:00  17.0  0.0   27  87096    0    0   0  18.604167
2012-01-01 07:00:00  18.0  0.0   34  87140   20  151  11  18.604167
2012-01-01 08:00:00  19.0  0.0   61  87185  164  522  37  18.604167
2012-01-01 09:00:00  20.0  0.0   95  87229  369  812  58  18.604167
2012-01-01 10:00:00  20.0  1.0  108  87229  568  931  68  18.604167
2012-01-01 11:00:00  20.0  2.1  160  87229  717  981  75  18.604167
2012-01-01 12:00:00  21.0  1.8  135  87273  800  999  79  18.604167
2012-01-01 13:00:00  22.0  1.5  160  87316  810  998  80  18.604167
2012-01-01 14:00:00  21.7  1.3  164  87302  747  977  79  18.604167
2012-01-01 15:00:00  21.3  1.2  176  87287  617  932  74  18.604167
2012-01-01 16:00:00  21.0  1.0  140  87273  433  846  65  18.604167
2012-01-01 17:00:00  19.0  0.0  198  87185  219  650  46  18.604167
2012-01-01 18:00:00  17.1  0.0  221  87104    0    0   0  18.604167
2012-01-01 19:00:00  17.0  0.0  269  87101    0    0   0  18.604167
2012-01-01 20:00:00  17.3  0.0   50  87115    0    0   0  18.604167
2012-01-01 21:00:00  17.0  0.2   85  87080    0    0   0  18.604167
2012-01-01 22:00:00  16.6  0.5   89  87089    0    0   0  18.604167
2012-01-01 23:00:00  15.9  0.8   93  87143    0    0   0  18.604167

In [15]:
del df['To_avg']

In [16]:
df.head()

                       To   Ws  Wd      P  Ig  Ib  Id
tiempo
2012-01-01 00:00:00  19.3  0.0  26  87415   0   0   0
2012-01-01 01:00:00  18.6  0.0  26  87602   0   0   0
2012-01-01 02:00:00  17.9  0.0  30  87788   0   0   0
2012-01-01 03:00:00  17.3  0.0  30  87554   0   0   0
2012-01-01 04:00:00  16.6  0.0  27  87321   0   0   0

In [17]:
df.drop(columns=['Ig', 'Id'])

                       To   Ws   Wd      P   Ib
tiempo
2012-01-01 00:00:00  19.3  0.0   26  87415    0
2012-01-01 01:00:00  18.6  0.0   26  87602    0
2012-01-01 02:00:00  17.9  0.0   30  87788    0
2012-01-01 03:00:00  17.3  0.0   30  87554    0
2012-01-01 04:00:00  16.6  0.0   27  87321    0
2012-01-01 05:00:00  15.9  0.0   26  87087    0
2012-01-01 06:00:00  17.0  0.0   27  87096    0
2012-01-01 07:00:00  18.0  0.0   34  87140  151
2012-01-01 08:00:00  19.0  0.0   61  87185  522
2012-01-01 09:00:00  20.0  0.0   95  87229  812
2012-01-01 10:00:00  20.0  1.0  108  87229  931
2012-01-01 11:00:00  20.0  2.1  160  87229  981
2012-01-01 12:00:00  21.0  1.8  135  87273  999
2012-01-01 13:00:00  22.0  1.5  160  87316  998
2012-01-01 14:00:00  21.7  1.3  164  87302  977
2012-01-01 15:00:00  21.3  1.2  176  87287  932
2012-01-01 16:00:00  21.0  1.0  140  87273  846
2012-01-01 17:00:00  19.0  0.0  198  87185  650
2012-01-01 18:00:00  17.1  0.0  221  87104    0
2012-01-01 19:00:00  17.0  0.0  269  87101    0
2012-01-01 20:00:00  17.3  0.0   50  87115    0
2012-01-01 21:00:00  17.0  0.2   85  87080    0
2012-01-01 22:00:00  16.6  0.5   89  87089    0
2012-01-01 23:00:00  15.9  0.8   93  87143    0

In [19]:
df

                       To   Ws   Wd      P   Ig   Ib  Id
tiempo
2012-01-01 00:00:00  19.3  0.0   26  87415    0    0   0
2012-01-01 01:00:00  18.6  0.0   26  87602    0    0   0
2012-01-01 02:00:00  17.9  0.0   30  87788    0    0   0
2012-01-01 03:00:00  17.3  0.0   30  87554    0    0   0
2012-01-01 04:00:00  16.6  0.0   27  87321    0    0   0
2012-01-01 05:00:00  15.9  0.0   26  87087    0    0   0
2012-01-01 06:00:00  17.0  0.0   27  87096    0    0   0
2012-01-01 07:00:00  18.0  0.0   34  87140   20  151  11
2012-01-01 08:00:00  19.0  0.0   61  87185  164  522  37
2012-01-01 09:00:00  20.0  0.0   95  87229  369  812  58
2012-01-01 10:00:00  20.0  1.0  108  87229  568  931  68
2012-01-01 11:00:00  20.0  2.1  160  87229  717  981  75
2012-01-01 12:00:00  21.0  1.8  135  87273  800  999  79
2012-01-01 13:00:00  22.0  1.5  160  87316  810  998  80
2012-01-01 14:00:00  21.7  1.3  164  87302  747  977  79
2012-01-01 15:00:00  21.3  1.2  176  87287  617  932  74
2012-01-01 16:00:00  21.0  1.0  140  87273  433  846  65
2012-01-01 17:00:00  19.0  0.0  198  87185  219  650  46
2012-01-01 18:00:00  17.1  0.0  221  87104    0    0   0
2012-01-01 19:00:00  17.0  0.0  269  87101    0    0   0
2012-01-01 20:00:00  17.3  0.0   50  87115    0    0   0
2012-01-01 21:00:00  17.0  0.2   85  87080    0    0   0
2012-01-01 22:00:00  16.6  0.5   89  87089    0    0   0
2012-01-01 23:00:00  15.9  0.8   93  87143    0    0   0

In [ ]:
df.drop(columns=['Ib'], inplace=True)